# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# IDE files
.vscode/
.idea/

# Logs and runtime files
*.log
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/
